<a href="https://colab.research.google.com/github/yunyeong-choi/2022fin/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9C%BC%EB%A1%9C%20%EB%B0%B0%EC%9A%B0%EB%8A%94%20%EC%8B%A4%EC%A0%84%20%EA%B8%88%EC%9C%B5%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D(%ED%80%80%ED%8A%B8)/3%EA%B0%95_%EA%B3%A0%EA%B8%89_pandas_%EA%B8%B0%EB%8A%A5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 고급 pandas 함수들
- 20220928

# 라이브러리 임포트

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 준비

In [2]:
!wget "https://drive.google.com/uc?export=download&id=1VrrOVibE-oxdxY30SnfCDJ6Ghv38jXm1" -O "stock_data.zip"

--2022-09-28 06:26:41--  https://drive.google.com/uc?export=download&id=1VrrOVibE-oxdxY30SnfCDJ6Ghv38jXm1
Resolving drive.google.com (drive.google.com)... 173.194.218.113, 173.194.218.138, 173.194.218.102, ...
Connecting to drive.google.com (drive.google.com)|173.194.218.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-00-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/auff2ir1ukbh3hltlaksbj4lhcnb29sq/1664346375000/03135380322884973343/*/1VrrOVibE-oxdxY30SnfCDJ6Ghv38jXm1?e=download&uuid=7d148c8e-6f86-46bf-9368-381bb18d18f6 [following]
Warning: wildcards not supported in HTTP.
--2022-09-28 06:26:42--  https://doc-00-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/auff2ir1ukbh3hltlaksbj4lhcnb29sq/1664346375000/03135380322884973343/*/1VrrOVibE-oxdxY30SnfCDJ6Ghv38jXm1?e=download&uuid=7d148c8e-6f86-46bf-9368-381bb18d18f6
Resolving doc-00-4g-docs.googleusercontent.com (doc-00-4g-docs.googleusercontent.com)... 173.194.218.132, 2607:f8b0:400c:c14::84
Connecting to doc-00-4g-docs.googleusercontent.com (doc-00-4g-docs.googleusercontent.com)|173.194.218.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7943120 (7.6M) [application/zip]
Saving to: ‘stock_data.zip’

stock_data.zip      100%[===================>]   7.57M  --.-KB/s    in 0.06s

2022-09-28 06:26:42 (123 MB/s) - ‘stock_data.zip’ saved [7943120/7943120]

In [3]:
!unzip stock_data.zip

Archive:  stock_data.zip
  inflating: stock.adj_close.csv
  inflating: stock.eq.csv
  inflating: stock.liab.csv
  inflating: stock.mc.csv
  inflating: stock.ni.csv
  inflating: stock.op.csv
  inflating: stock.sales.csv
  inflating: stockinfo.itemname.csv
  inflating: stockinfo.sector.csv

In [4]:
adj_close = pd.read_csv("stock.adj_close.csv", index_col=0, encoding='cp949', parse_dates=True)

In [5]:
itemname = pd.read_csv("stockinfo.itemname.csv", index_col=0, encoding='cp949')
sector = pd.read_csv("stockinfo.sector.csv", index_col=0, encoding='cp949')

stock_info = pd.concat([itemname, sector], axis=1)

# 고급 pandas 익히기

In [6]:
# 데이터 준비
df_a = stock_info.iloc[:14]
df_a

         itemname       Sector
Symbol
A000020      동화약품     제약_및_바이오
A000030      우리은행          NaN
A000040     KR모터스     자동차_및_부품
A000050        경방  내구_소비재_및_의류
A000060     메리츠화재           보험
A000070     삼양홀딩스           소재
A000080     하이트진로     음식료_및_담배
A000100      유한양행     제약_및_바이오
A000120    CJ대한통운           운송
A000140  하이트진로홀딩스     음식료_및_담배
A000150        두산          자본재
A000180    성창기업지주           소재
A000210      대림산업          자본재
A000220      유유제약     제약_및_바이오

In [7]:
df_b = adj_close.loc[:,'2020-10-13':].iloc[:14]
df_b

         2020-10-13  2020-10-14
Symbol
A000020     24300.0     23850.0
A000030     14800.0     14800.0
A000040       850.0       874.0
A000050     10850.0     10800.0
A000060     13700.0     13550.0
A000070     63000.0     61800.0
A000080     38700.0     38500.0
A000100     64100.0     63600.0
A000120    186500.0    180500.0
A000140     17300.0     17250.0
A000150     47500.0     47700.0
A000180      1715.0      1825.0
A000210     78300.0     76600.0
A000220     16600.0     16250.0

# .rename() - 컬럼명 변경

In [9]:
# .rename 함수를 이용, 딕셔너리로 컬럼 명을 바꿀 수 있습니다
df_b = df_b.rename(columns={
    '2020-10-13':'주가_10_13', #전
    '2020-10-14':'주가_10_14' #후
})
df_b

         주가_10_13  주가_10_14
Symbol
A000020   24300.0   23850.0
A000030   14800.0   14800.0
A000040     850.0     874.0
A000050   10850.0   10800.0
A000060   13700.0   13550.0
A000070   63000.0   61800.0
A000080   38700.0   38500.0
A000100   64100.0   63600.0
A000120  186500.0  180500.0
A000140   17300.0   17250.0
A000150   47500.0   47700.0
A000180    1715.0    1825.0
A000210   78300.0   76600.0
A000220   16600.0   16250.0

## .concat() - 여러 개의 DataFrame 합치기

In [10]:
pd.concat([df_a, df_b]) #행기준 붙이기

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오       NaN       NaN
A000030      우리은행          NaN       NaN       NaN
A000040     KR모터스     자동차_및_부품       NaN       NaN
A000050        경방  내구_소비재_및_의류       NaN       NaN
A000060     메리츠화재           보험       NaN       NaN
A000070     삼양홀딩스           소재       NaN       NaN
A000080     하이트진로     음식료_및_담배       NaN       NaN
A000100      유한양행     제약_및_바이오       NaN       NaN
A000120    CJ대한통운           운송       NaN       NaN
A000140  하이트진로홀딩스     음식료_및_담배       NaN       NaN
A000150        두산          자본재       NaN       NaN
A000180    성창기업지주           소재       NaN       NaN
A000210      대림산업          자본재       NaN       NaN
A000220      유유제약     제약_및_바이오       NaN       NaN
A000020       NaN          NaN   24300.0   23850.0
A000030       NaN          NaN   14800.0   14800.0
A000040       NaN          NaN     850.0     874.0
A000050       NaN          NaN   10850.0   10800.0
A000060       NaN          NaN   13700.0   13550.0
A000070       NaN          NaN   63000.0   61800.0
A000080       NaN          NaN   38700.0   38500.0
A000100       NaN          NaN   64100.0   63600.0
A000120       NaN          NaN  186500.0  180500.0
A000140       NaN          NaN   17300.0   17250.0
A000150       NaN          NaN   47500.0   47700.0
A000180       NaN          NaN    1715.0    1825.0
A000210       NaN          NaN   78300.0   76600.0
A000220       NaN          NaN   16600.0   16250.0

In [11]:
my_concat_df = pd.concat([df_a, df_b], axis=1) #열기준 붙이기
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

## .groupby() – 그룹으로 묶어서 Aggregation 하기

In [12]:
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

- 섹터별 합계

In [13]:
my_concat_df.groupby('Sector').sum()

             주가_10_13  주가_10_14
Sector
내구_소비재_및_의류   10850.0   10800.0
보험            13700.0   13550.0
소재            64715.0   63625.0
운송           186500.0  180500.0
음식료_및_담배      56000.0   55750.0
자동차_및_부품        850.0     874.0
자본재          125800.0  124300.0
제약_및_바이오     105000.0  103700.0

In [14]:
my_concat_df.groupby('Sector').mean()

             주가_10_13       주가_10_14
Sector
내구_소비재_및_의류   10850.0   10800.000000
보험            13700.0   13550.000000
소재            32357.5   31812.500000
운송           186500.0  180500.000000
음식료_및_담배      28000.0   27875.000000
자동차_및_부품        850.0     874.000000
자본재           62900.0   62150.000000
제약_및_바이오      35000.0   34566.666667

In [15]:
my_concat_df.groupby('Sector').count()

             itemname  주가_10_13  주가_10_14
Sector
내구_소비재_및_의류         1         1         1
보험                  1         1         1
소재                  2         2         2
운송                  1         1         1
음식료_및_담배            2         2         2
자동차_및_부품            1         1         1
자본재                 2         2         2
제약_및_바이오            3         3         3

In [16]:
my_concat_df.groupby('Sector').max()

             itemname  주가_10_13  주가_10_14
Sector
내구_소비재_및_의류        경방   10850.0   10800.0
보험              메리츠화재   13700.0   13550.0
소재             성창기업지주   63000.0   61800.0
운송             CJ대한통운  186500.0  180500.0
음식료_및_담배     하이트진로홀딩스   38700.0   38500.0
자동차_및_부품        KR모터스     850.0     874.0
자본재                두산   78300.0   76600.0
제약_및_바이오         유한양행   64100.0   63600.0

## .query() - DataFrame 필터링하기

In [17]:
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

In [18]:
my_concat_df.query('Sector == "운송"')

        itemname Sector  주가_10_13  주가_10_14
Symbol
A000120   CJ대한통운     운송  186500.0  180500.0

In [19]:
my_concat_df.query('Sector == "제약_및_바이오"')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0
A000220     유유제약  제약_및_바이오   16600.0   16250.0

In [20]:
my_concat_df.query('주가_10_13 > 20000')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000070    삼양홀딩스        소재   63000.0   61800.0
A000080    하이트진로  음식료_및_담배   38700.0   38500.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0
A000120   CJ대한통운        운송  186500.0  180500.0
A000150       두산       자본재   47500.0   47700.0
A000210     대림산업       자본재   78300.0   76600.0

In [21]:
my_concat_df.query('주가_10_13 > 20000  and  Sector == "제약_및_바이오"')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0

In [22]:
my_concat_df.query('주가_10_13 > 50000 or Sector == "제약_및_바이오"')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000070    삼양홀딩스        소재   63000.0   61800.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0
A000120   CJ대한통운        운송  186500.0  180500.0
A000210     대림산업       자본재   78300.0   76600.0
A000220     유유제약  제약_및_바이오   16600.0   16250.0

# .info() - 데이터프레임에 대한 정보 출력하기

In [23]:
my_concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, A000020 to A000220
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   itemname  14 non-null     object
 1   Sector    13 non-null     object
 2   주가_10_13  14 non-null     float64
 3   주가_10_14  14 non-null     float64
dtypes: float64(2), object(2)
memory usage: 560.0+ bytes

In [24]:
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

# .desribe() - 데이터 프레임에 대한 정보 출력하기

In [25]:
my_concat_df.describe()

            주가_10_13       주가_10_14
count      14.000000      14.000000
mean    41301.071429   40564.214286
std     48482.706837   46975.441843
min       850.000000     874.000000
25%     13975.000000   13862.500000
50%     20800.000000   20550.000000
75%     59125.000000   58275.000000
max    186500.000000  180500.000000

# .unique() - 컬럼의 unique한 값 출력하기

In [26]:
my_concat_df['Sector'].unique()

array(['제약_및_바이오', nan, '자동차_및_부품', '내구_소비재_및_의류', '보험', '소재', '음식료_및_담배',
       '운송', '자본재'], dtype=object)

# .replace() - 값을 변경하기

In [27]:
my_concat_df['Sector'].replace({'자동차_및_부품':'자동차 및 부품'}, inplace=True)
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차 및 부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

# 데이터프레임의 일부만을 필터링해서 새로운 데이터프레임 만들기

In [28]:
new_df = my_concat_df[my_concat_df['Sector'] == '운송']
new_df

        itemname Sector  주가_10_13  주가_10_14
Symbol
A000120   CJ대한통운     운송  186500.0  180500.0

### <연습문제 >
my_concat_df에서 업종이 '음식료\_및\_담배'인 레코드를 출력해보세요

In [29]:
my_concat_df[my_concat_df['Sector']=='음식료_및_담배']

         itemname    Sector  주가_10_13  주가_10_14
Symbol
A000080     하이트진로  음식료_및_담배   38700.0   38500.0
A000140  하이트진로홀딩스  음식료_및_담배   17300.0   17250.0